<div class="card bg-dark  text-white">
  <div class="card-header">

  </div>
  <div class="card-body">
    <form (ngSubmit) = "create()" >
      <div class="form-group">

        <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" id="" placeholder="">
        </div>
      </div>

      <div class="form-group">
        <label for="apellido" class="col-form-label col-sm-2">apellido</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido" id="" placeholder="">
        </div>
      </div>

      <div class="form-group">
        <label for="email" class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.email" name="email" id="" placeholder="">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button">Crear</button>
        </div>
      </div>
    </form>
  </div>
</div>
